<div class="col-xs-12">
    <table class="table table-bordered table-striped">
        <thead><tr>
            <th>Presente</th>
            <th>Valor</th>
            <th>Ação</th>
            <th>Apagar</th>
        </tr>
        </thead>
        
        <tbody>
            <% presentes.forEach(function(presente, index) { %>
              <tr>
                <td><%- presente.nome %></td>
                <td><%- presente.valor %></td>
                <td><% if(!presente.comprado) { %> <a href="/comprar/<%- index %>">Comprar</a> <% } %></td> 
                <td><% if(!presente.apagado) { %> <a href="/apagar/<%- index %>">Apagar</a> <% } %></td>                    
              </tr>
            <% }) %>
        </tbody>
        
        
    </table>
</div>